.input {
    display: flex;
    height: 2.75rem;
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid var(--border);
    background-color: var(--input);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    color: var(--foreground);
}

.input::placeholder {
    color: var(--muted-fg);
}

.input:focus-visible {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}